#header{
    display:flex;
    flex-direction: row;
    background-attachment: fixed;
}
.top{
    text-decoration: none;
    margin-left: 70%;
    margin-top: 0.2rem;
   
    
}
.top li{  
    margin: 0;
    padding:0;
    display:inline;  
list-style-type: none;
text-decoration: none;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    height: 100px;
}
#gobottom{

    margin-bottom: 20px;
    
}

#haven{
    float: left;
}
li{
    float: right;

}

li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(#haven){
background-color:purple;
font-size:larger;
border-radius: 50%;
border:4px solid purple;
}

#menu{
    background-image: url(./assets/welcomehome.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color:rgb(12, 235, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    height: 400px;
    padding-left: 150px;
    
}

#menup.h2{
padding-top: 20px;
font-weight: 400;

  
}
#pintro{
    padding-top: 20px;  
    font-weight: 600; 
}

.spaces p{

}
.gray{
    background-color: rgba(112, 41, 99);
    padding:3rem;
    margin-bottom: 2rem;
    margin-top: 20px;
    color:white;
}
.oursizes{
    display: flex;
    flex-direction: row;
    gap:2rem;
    padding-bottom: 4rem;
    margin-top: -5rem;
    color:purple;
   
}
#gray2{
    margin: 0;
}
    

.oursizes img{
    width:20rem;
    height:20rem;
    background-color: rgba(0,0,0);

    
}
.swimmingpool{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    width: auto;
    height:auto;
    background-color: rgb(201, 233, 218);
    font-size: x-large;
    font-family: ;
}
.swimmingpoolimg{
    align-items: right;
    width:50%;
    margin-left:100rem;
    
}
.textp{
  
    align-items: center;
    width: 60%;
    height:20rem;
    font-size:10rem;
    margin-top:22rem;
    justify-content: center;
    display: block;
    padding-top: 30rem;
}

#myimg{
    width: 50%;
}
.parking{
    display:flex;
    flex-direction: row;
    background-color: rgb(201, 233, 218);    
    margin-top: 1rem;
    font-size: x-large;
    }
    .parkingimg{
        align-items: left;       
        margin-right:50%;
        
    }
        .parkingp{
            align-items: right;
            width:50%;

        }
        #parking{
            width: 50%;
            height:20rem;
            
        }

        .laundry{
            display:flex;
            flex-direction: row;
            background-color: rgb(201, 233, 218);    
            margin-top: 1rem;
            font-size: x-large;
            }
            .laundryimg{
                align-items: left;       
                margin-right:50%;
                
            }
                .kaundryp{
                    align-items: right;
                    width:50%;
        
                }
                #laundry{
                    width: 50%;
                    height:20rem;
                    
       }
        
     
     .gym{
        display:flex;
        flex-direction: row;
        background-color: rgb(201, 233, 218);
        margin-top: 1rem;
        font-size: x-large;
     }
     #gym{
        
        align-items: left;
     }
    
     .gymp{
        align-items:center;
        font-size: x-large;
     }
   
     .elevator{
        display:flex;
        flex-direction: row;
        background-color: rgb(201, 233, 218);    
        margin-top: 1rem;
        font-size: x-large;
        }
        .elevatorimg{
            align-items: left;       
            margin-right:50%;
            
        }
            .elevatorp{
                align-items: right;
                width:50%;
    
            }
            #elevator{
                width: 50%;
                height:20rem;
            }
     .water{
        display:flex;
        flex-direction: row;
        margin-top:1rem;
        background-color: rgb(201, 233, 218);
        height:30rem;
        font-size: x-large;
     }
     .waterimg{
        float:left;
        width:50%;

     }
     .waterp{
        float:right;
         justify-content: center;
         width:50%;
         margin-left:50%;
     }
    
    
     .theatre{
        display:flex;
        flex-direction: row;
        background-color: rgb(201, 233, 218);    
        margin-top: 1rem;
        font-size: x-large;
        }
        .theatreimg{
            align-items: left;       
            margin-right:50%;
            
        }
            .theatrep{
                align-items: right;
                width:50%;
    
            }
            #theatre{
                width: 50%;
                height:20rem;
                
            }
     
            .wifi{
                display:flex;
                flex-direction: row;
                margin-top:1rem;
                background-color: rgb(201, 233, 218);
                height:30rem;
                font-size: x-large;
             }
             .wifiimg{
                float:left;
                width:50%;
        
             }
             .wifip{
                float:right;
                 justify-content: center;
                 width:50%;
                 margin-left:50%;
             }
     .reachus{
        background-color: rgb(201, 233, 218);
        font-size: x-large;
     }
     .reachusbutton{
        background-color: red;
        border-radius: 100%;
        color:white;
        font-size: x-large;
     }